<include file="Public:header">
<ul id="">
    <li>
        文章管理
        <ul id="">
            <li><a href="__APP__/Admin/Article/index" target="main" title="">文章列表</a></li>    
            <li><a href="__APP__/Admin/Article/add" target="main" title="">添加文章</a></li>    
            <li><a href="__APP__/Admin/Category/index" target="main" title="">分类列表</a></li>    
            <li><a href="__APP__/Admin/Category/add" target="main" title="">添加分类</a></li>    
        </ul>
    </li>    
    <li>
        权限管理
        <ul>
            <li><a href="__APP__/Admin/User/index" target="main" >用户列表</a></li>
            <li><a href="__APP__/Admin/User/add" target="main" >添加用户</a></li>
            <li><a href="__APP__/Admin/Usergroup/index" target="main" >用户组列表</a></li>
            <li><a href="__APP__/Admin/Usergroup/add" target="main" >添加用户组</a></li>
        </ul>
    </li>    
        
</ul>

