<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Clmao">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <title>{$title}</title>
        <link rel="apple-touch-icon" href="__PUBLIC__/appicon.png">
        <link rel="shortcut icon" href="__PUBLIC__/appicon.png">
        <script src="__PUBLIC__/js/jquery.min.js"></script>
    </head>
    <body>
